<footer
	class="footer bg-dark text-center d-flex flex-column align-items-center justify-content-center"
>
	<div class="text-white footer-text">
		<p>&copy; Pocket 2020</p>
		<p>Developed by Raed & Niloy</p>
	</div>
</footer>
