<div class="total-container my-4">
	<div class="row text-center">
		<div class="col-md-4 my-md-0 mt-2">
			<div class="total-container__current">
				<div class="my-3">
					<h5 style="margin-bottom: 0">Current Balance</h5>
					<p class="balance">$ 10000</p>
				</div>
			</div>
		</div>
		<div class="col-md-4 my-md-0 mt-2">
			<div class="total-container__income">
				<div class="my-3">
					<h5 style="margin-bottom: 0">Total Income</h5>
					<p class="balance">$ 20000</p>
				</div>
			</div>
		</div>
		<div class="col-md-4 my-md-0 mt-2">
			<div class="total-container__expense">
				<div class="my-3">
					<h5 style="margin-bottom: 0">Total Expense</h5>
					<p class="balance">$ 10000</p>
				</div>
			</div>
		</div>
	</div>
</div>
