* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Poppins", sans-serif;
}

.navbar-brand--custom,
.nav-link--date {
    font-weight: 500;
}

.nav-link--date {
    color: #fda744 !important;
}

.total-container__current,
.total-container__expense,
.total-container__income {
    min-height: 100px;
    border-radius: 10px;
    padding: 10px;
    color: #343a40;
}
.total-container__income {
    /* background-color: #3eb489; */
    background-color: RGBA(62, 188, 137, 0.71);
}

.total-container__current {
    /* background-color: #f4b840; */
    background-color: RGBA(244, 184, 64, 0.84);
}

.total-container__expense {
    /* background-color: #e65a63; */
    background-color: RGBA(230, 90, 99, 0.86);
}

.balance {
    font-weight: 500;
    font-size: 25px;
}

select {
    padding: 5.5px 10px;
    border-radius: 6px;
}
.nav-tabs .nav-item.show .nav-link,
.nav-tabs .nav-link.active {
    color: #fff;
    background-color: #343a40;
    border-color: transparent;
}

.nav-income,
.nav-expense {
    color: #000;
    font-family: "Alegreya Sans", sans-serif;
    font-weight: 500;
}
.dollar-sign {
    color: #16a085;
    padding-right: 2.5px;
}

.footer-container {
    min-height: 100vh;
    position: relative;
}
.footer-wrapper {
    padding-bottom: 100px;
}
.footer {
    height: 100px;
    width: 100vw;
    position: absolute;
    bottom: 0;
    left: 0;
}

.footer-text p {
    margin-bottom: 0;
}

.delete-btn,
.edit-btn {
    background-color: transparent;
    border: none;
}
.delete-btn {
    color: #dc3545;
}

.delete-btn:hover {
    color: #c5303f;
}

.edit-btn {
    color: #28a745;
}

.edit-btn:hover {
    color: #208a39;
}

.container-404 {
    font-size: 1.875rem;
}
/* font-family: 'Alegreya Sans', sans-serif;
font-family: 'Poppins', sans-serif; */
/* background-image: radial-gradient( circle farthest-corner at 10% 20%,  rgba(90,92,106,1) 0%, rgba(32,45,58,1) 81.3% ); */
